.login-layout {
    --gap-space: 2rem;

    display: flex;
    height: 100%;
    gap: var(--gap-space);
    padding: var(--gap-space);
}

.login-layout__picture {
    flex-grow: 2;
}

.login-layout__picture > img,source {
    border-radius: calc(var(--gap-space) / 2);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.login-layout__panel {
    border-radius: calc(var(--gap-space) / 2);
    width: 42rem;
    background-color: #eee;
}