@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #222;
  --background-color: #efefef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #efefef;
    --background-color: #000000;
  }
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
  padding: 1rem;
}
